# Used by slack_python_logging module
# See Slack documentation for getting these:
# https://api.slack.com/messaging/webhooks
# Note that slack_logger doesn't use these environment variables at the moment
# but it totally should
SLACK_WEBHOOK_URL='https://hooks.slack.com/services/...'
SLACK_SLACK-LOGLEVEL='CRITICAL'
SLACK_STREAM-LOGLEVEL='INFO'

# subreddit can be a multireddit in the form of RarePuppers+PartyParrot
# The first subreddit is the "primary" one, whose mod list and wiki will
# be used. The others are just for listening
SUBREDDIT='neoliberal'

# Reddit API credentials
# See PRAW documentation for getting these:
# https://praw.readthedocs.io/en/stable/getting_started/authentication.html
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=

# Note that there is one additional environment variable set in the service
# file, SLACK_APP_NAME. This is done so that all the service files can use this
# variable file while still being distinguishable in the logs
